<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="box">
		<input v-model="newTodo" v-on:keyup.enter="addTodo"> 
		<ul>
			<li v-for="todo in todos">
				<span>{{todo.txt}}</span>
				<button v-on:click="removeTodo($index)">关闭</button>

			</li>
		</ul>
	</div>
<script>
new Vue({
el:'#box',
data:{
	newTodo:'',
	todos:[
		{txt:'add Li'}
	]
},
methods:{
	addTodo:function(){

		var txt= this.newTodo.trim()

		if(txt){
			this.todos.push({txt:txt})
			this.newTodo=''
			console.log(txt)
		}
	},
	removeTodo:function(index){
		this.todos.splice(index,1)
	}
}
})

</script>
</body>
</html>